<div class="container">

  <div id="loader" *ngIf="isLoading">
    <div id="shadow"></div>
    <div id="box"></div>
  </div>
 
    <div class="form">
        <div class="header">
            <img src="assets/Designs/logo.png" class='logo' alt="logo" />
            <p>Welcome, To</p>
            <h3>Neo<span class="part">Influencer</span></h3>
        </div>
  
        <form class="register-form" [formGroup]="registration" (ngSubmit)="register()">
            
            <div class="register-full-width" cellspacing="0">
              
                <mat-form-field appearance="outline" class="register-full-width">
                  <mat-label>Company </mat-label>
                  <input matInput type="text"  formControlName="company">
                  <mat-error *ngIf="f['company'].invalid">enter a valid value</mat-error>
                </mat-form-field>
              
           
            </div>
          
            <div class="register-full-width" cellspacing="0">
              <mat-form-field appearance="outline" class="register-full-width">
                <mat-label>Owner/Employer Fisrt Name </mat-label>
                <input matInput type="text"  formControlName="firstname">
                <mat-error *ngIf="f['firstname'].invalid">enter a valid value</mat-error>

              </mat-form-field>
              <mat-form-field appearance="outline" class="register-full-width">
                <mat-label>Last Name </mat-label>
                <input matInput type="text"  formControlName="lastname">
                <mat-error *ngIf="f['lastname'].invalid">enter a valid value</mat-error>

              </mat-form-field>
            </div>
            <div class="register-full-width" cellspacing="0">
                
                    <mat-form-field appearance="outline" class="register-full-width">
                        <mat-label>Email </mat-label>
                        <input matInput type="email"  formControlName="email" >
                <mat-error *ngIf="f['email'].invalid">enter a valid value</mat-error>

                      </mat-form-field>
            
                
                    <mat-form-field appearance="outline" class="register-full-width">
                        <mat-label>Number </mat-label>
                        
                        <input type="tel" matInput  formControlName="number"/>
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="f['number'].errors?.['pattern']">Mobile number is not 10 digits</mat-error>

                      </mat-form-field>
            
              
            </div>
           
              <div class="register-full-width" cellspacing="0">
                
                    <mat-form-field appearance="outline" class="register-full-width">
                        <mat-label>Address </mat-label>
                        <input matInput type="text"  formControlName="address"/>
                <mat-error *ngIf="f['address'].invalid">enter a valid value</mat-error>

                      </mat-form-field>
            
                
                    <mat-form-field appearance="outline" class="register-full-width">
                        <mat-label>Country</mat-label>
                        <input matInput type="text" formControlName="country">
                      </mat-form-field>
                 
            
              </div>
          
            <div class="register-full-width" cellspacing="0">
             
              <mat-form-field appearance="outline" class="register-full-width">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="city">
              </mat-form-field>
              <mat-form-field appearance="outline" class="register-full-width">
                <mat-label>Postal Code</mat-label>
                <input matInput type="text" #postalCode maxlength="5" formControlName="zipcode"  >
               
              </mat-form-field>
            </div>

            <div class="register-full-width" cellspacing="0">
              
                  <mat-form-field appearance="outline" class="register-full-width">
                      <mat-label>Password </mat-label>
                      <input matInput type="text"  formControlName="password" [type]="hide ? 'password' : 'text'"/>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                <mat-error *ngIf="f['password'].invalid">enter a valid value</mat-error>

                    </mat-form-field>
          
              
                  <mat-form-field appearance="outline" class="register-full-width">
                      <mat-label>Confirm Password</mat-label>
                      <input matInput type="text" formControlName="confirmPassword">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                <mat-error *ngIf="f['confirmPassword'].invalid">enter a valid value</mat-error>


                    </mat-form-field>
               
          
            </div>
            <button class="submit">Sign Up</button>
          </form>
        <div class="signin">
            <p>Already have an account?<span routerLink="/login"> Sign In</span></p>
        </div>
    </div>
    <div class="img">
      <img src="assets/auth/r1.svg"/>
    </div>
</div>
