.nav{
    display: flex;
    justify-content: flex-end;
    gap:2rem;
    height:64px;
    margin-bottom: 20px;
    padding:20px;
    /* padding-bottom: 30px; */
    align-items: center;
    position: fixed;
    background-color: var(--light-gray);
     width: calc(100% - 14rem);
     z-index:3;
     border-bottom-left-radius: -25px;
}
.nav button{
    display:none;
}
.theme-toggler{
    background: var(--mid-gray);
    display: flex;
    justify-content:space-between;
    align-items:center;
    height:1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 20px;
}
.theme-toggler span{
    font-size:1.2rem;
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme-toggler span.active{
     background:var(--dark-gray);
    color:white;
    border-radius: 20px;
}
.nav .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}
.nav .profile img{
    width:40px;
    height: 40px;
}
.photo-profile{
    border-radius: 50%;
}
/* --------------------- FOR MOBILE------------------- */
@media screen and (max-width:768px){
    .nav{
        position: fixed;
        top: 0;
        left:0;
        align-items:center;
        padding: 0 0.8rem;
        height: 4.6rem;
        /* background: var(--dark-gray); */
        color:white;
        width:100%;
        margin: 0;
        z-index :2;
        box-shadow:  0 1rem 1rem rgba(165, 165, 165, 0.406);
    }
    .nav .profile{
      width: 4.4rem;
      position: absolute;
      left: 86%;
    }
    .nav button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color:white;
        position: absolute;
        left:1rem;
    }
    .nav button i{
       font-size: 2rem;
    }
    .nav button:focus{
        border: none;
    }
    .nav .theme-toggler{
        position: absolute;
        /* left: 86%; */
        left:66%;
    }
 
}