
.content{

  width: 90%;
  height: 90vh;
  /* opacity: 0.3; */
  background-image: url("src/assets/AssetsCanauxImages/sm.png");
  background-repeat: no-repeat;
  background-position: 20% 0;
  background-size: cover;
}
.desc{

  font-size: 1.8rem;
  font-weight:550;
  /* margin-bottom: 20px; */
  /* text-align: center; */

}
.container{
  opacity: 1;
   width:100vw;
  height:100vh;
/*/* From https://css.glass */
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.1px);
-webkit-backdrop-filter: blur(2.1px);  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin:20px; */
}
.canaux{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;

}
.ou{
  font-size: 1.8rem;
  font-weight:550;
 justify-self: center;
 align-self: center;
 margin:20px;
}
.canal{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  justify-self: center;
  margin:10px 20px;
}
.canal p{
  font-size: 1.3rem;
  font-weight:600;
text-align: center;}
.canaux .canal img{
  width:80px;

  margin:20px;
}
button{
  width:180px;
  font-size: 1.2rem;
  /* margin-bottom:70px; */
  border-radius:10px;
  background-color:var(--blue);
  color:white;
  padding:10px;
}


@media (min-width:768px) and (max-width:992px) {
  /* .swal2-container {
    width: 90% !important;
  }
  .top-alert {
    top: 20px !important;
    transform: translateY(-10) !important;
  }
  div:where(.swal2-container).swal2-center>.swal2-popup {
    margin-top: -150px;
  } */
  .content{
    /* margin-left: -20px; */
    padding:10px;
  }
  .container{
    margin-top:-80px
  }
  .desc{
    text-align: center;
  }
  .container{
    opacity: 1;
    width:80vw;
    height:60vh;
  }
    .canaux{
     
      /* margin-top: -20px; */
    
    }
    .canal{
      /* margin-top:-10px */
    }
  .canaux .canal img{
    width:100px;
  
    margin:10px;
  }
  .canal p{
    font-size: 1rem;
    font-weight:500;
  text-align: center;}
  button{
    width:180px;
    font-size: 1.2rem;
    /* margin-bottom:160px; */
    border-radius:10px;
    background-color:var(--blue);
    color:white;
    padding:10px;
  }
  .swal2-height-auto{
    height:50% !important;
  }
}
@media screen and (max-width:768px) {
  .content{
    /* margin-left: -20px; */
    padding:10px;
  }
  .container{
    margin-top:-80px
  }
  .desc{
    text-align: center;
  }
  .container{
    opacity: 1;
    width:90vw;
    height:100vh;}
    .canaux{
     
      /* margin-top: -20px; */
    
    }
    .canal{
      /* margin-top:-10px */
    }
  .canaux .canal img{
    width:100px;
  
    margin:10px;
  }
  .canal p{
    font-size: 1rem;
    font-weight:500;
  text-align: center;}
  button{
    width:180px;
    font-size: 1.2rem;
    /* margin-bottom:160px; */
    border-radius:10px;
    background-color:var(--blue);
    color:white;
    padding:10px;
  }
}