<div class="nav">
   <div class="navbar-container container">
    <button id="menu-btn" (click)="open()">

        <i [ngClass]="opening? 'fa-solid fa-xmark' : 'fa-solid fa-bars' "></i>
     </button>
     <!-- <div class="theme-toggler">
         <span class="active"><i class="fa-regular fa-sun"></i></span>
         <span><i class="fa-regular fa-moon"></i></span>
 
     </div> -->
     <ul class="menu-items">
         <li><a routerLink="/home">Home</a></li>
        

         <div class="profile" >
             <img class='photo-profile'  [src]="profileImage" (click)="toDashboard()"/>
         </div>
     </ul>
     <h3 class="logo">NeoInfluencer</h3>
   </div>
    
</div>
