.nav{ box-shadow: 0px 5px 10px 0px #aaa;
    position: relative;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    /* margin-bottom: 30px ; */
    z-index: 100;
         background: #02969b;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #01e3bd, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;}
.nav button{
    display:none;
}
.container{
    max-width: 1200px;
    width:100%;
    margin: auto;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.menu-items{
    order: 2;
    display: flex;
    align-items: center;

}
.logo{
    order: 1;
    font-size: 1.6rem;
    /* margin-left: -50px; */
    color:#ffffff;
    justify-self: flex-start;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.nav a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.nav a:hover{
    color: #83ffe6;
}
.profile{
    display: flex;
    gap: 2rem;
    text-align: right;
    margin-left:20px
}
 .profile img{
    width:50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
/* .theme-toggler{
    background: var(--mid-gray);
    display: flex;
    justify-content:space-between;
    align-items:center;
    height:1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 20px;
}
.theme-toggler span{
    font-size:1.2rem;
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme-toggler span.active{
     background:var(--dark-gray);
    color:white;
    border-radius: 20px;
} */


.nav .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}
.nav .profile img{
    width:40px;
    height: 40px;
}
.photo-profile{
    border-radius: 50%;
}
/* --------------------- FOR MOBILE------------------- */
@media screen and (max-width:768px){
    .nav{
        position: fixed;
        top: 0;
        left:0;
        align-items:center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--dark-gray);
        color:white;
        width:100%;
        margin: 0;
        margin-bottom:20px;
        z-index :2;
        box-shadow:  0 1rem 1rem rgba(165, 165, 165, 0.406);
    }
    .nav .profile{
      width: 4.4rem;
      position: absolute;
      left: 86%;
    }
    .nav button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color:white;
        position: absolute;
        left:1rem;
    }
    .nav button i{
       font-size: 2rem
    }
    .nav button:focus{
        border: none;
    }
    .nav .theme-toggler{
        position: absolute;
        /* left: 86%; */
        left:66%
    }
    .menu-btn{
        border:none;
    }
    /* .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size:1.5rem;
        margin-left: 20px;
    } */
}