<div class="wrapper">
  
    <app-sidebar  [open]="openMenuVal" ></app-sidebar>
  <div class="main_panel">
    <app-nav-bar-dash class="navBar" (menuClick)="openMenu($event)"></app-nav-bar-dash>
    <router-outlet></router-outlet>

  </div>
</div>
