.main_panel{
    position: relative;
    width: 100%;
    overflow: auto;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    /* border-radius: 25px; */
    /* z-index: 10; */

}
.navBar{
    margin-bottom: 70px;
}
/* app-nav-bar{
    padding-bottom: 40px;
} */
@media screen and (max-width:1185px) {
   
}
@media screen and (max-width:768px) {
    .main_panel{
        position: absolute !important;
    }
}