.content{

    display: flex;
    flex-direction: column;
    margin:20px;
}
.token,.url{
    background-color: #cbe4e2;
    border-radius:10px;
    padding:10px;
    margin:5px auto;

}
.token form,.url form{
    display:flex;
}
.token form  input, .token form button{
    width:250px;
    margin-left:10px;
    padding:10px;
    border-radius:10px;


}
.token form input:focus{
    background-color: rgb(253, 252, 252);
    border: 1px solid var(--blue);
}
.token form label{
    margin-left:10px;
    align-self: center;
    font-weight: 550;
    font-size: 1rem;
    margin-top:5px;
    color:rgb(58, 58, 58)
}
.token form button{

    background-color: var(--blue);
    color: white;
    width:150px;
    font-weight: 550;
    font-size: 1rem;
}
.welcome{
    padding:10px;
    margin:20px auto;
    text-align: center;
}
.status-img{
    width:30%;
    /* position: relative; */
    /* opacity: 0.6; */
}
.status-msg{
    font-size: 1.8rem;
    /* position: absolute; */
    /* top:60%;
    left:50%; */
    /* margin-top: -20%; */
    font-weight: 550;
}
/* ========================= POSTS ================================ */
.posts-container{
    display: flex;
    flex-direction: row;
    margin:20px;
    width:80vw;
    flex-wrap: wrap;

}
.posts{
    
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.left-btn{
    display: flex !important;
    background-color: var(--blue) !important;
    right: 0 !important;
    margin-left: 80%;
}
.post{
    display: flex;
    flex-direction: column;
    
    width:280px;
    background-color: white;
    padding:10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* align-items: center; */
    font-size: 1rem;
    margin-left: 5%;
}
.post p{
    margin:10px;
}
.post .title{
    font-size: 1.2rem;
    font-weight: 550;
}
.post img{
    width:260px;
    height:260px;
    border-radius: 6px;
    align-self:center
}
.analyse{
    display: block;
    width:180px;
    font-size: 1.2rem;
    margin:auto;
    border-radius:10px;
    background-color:var(--blue);
    color:white;
    padding:10px;
}
@media screen and (max-width:912px) {
    .content{

        display: flex;
        flex-direction: column;
        margin:5px;
    }
    .token{
        background-color: #cbe4e2;
        border-radius:10px;
        padding:5px;
        margin:10px auto;

    
    }
    .token form{
        display:flex;
        /* flex-direction: column; */
    }
    .token form  input, .token form button{
        width:140px;
        margin-left:10px;
        padding:6px;
        border-radius:10px;
        margin:5px
    
    
    }
    .token form button{

        background-color: var(--blue);
        color: white;
        width:90px;
        font-weight: 550;
        font-size: .9rem;
    }
    .token form label{
        margin-left:5px;
        /* align-self: center; */
        font-weight: 550;
        font-size: .9rem;
    }
    .token form label, .token form label input{
        display: inline-block;
    }
   
}
@media (max-width: 768px){
    .content{

        margin-left:-15px;
        margin-top:20px
    }
    .posts-container{
        display: flex;
        flex-direction: column;
        margin:10px;
        width:95vw;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
    
    }
    .token form{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .token form  input, .token form button{
        width:200px;
        margin-left:5px;
        padding:6px;
        border-radius:10px;
        margin:5px
    
    
    }
    .token form button{
        width:150px;
        margin-left:10px;
    }
    .formGroup{
        display: flex;
    }
    .status-msg{
        text-align:center;
        word-break: break-all;
        font-size: 1.5rem;
    }
    .status-img{
        width:320px;
    }

    .post{
      
        width:260px;
      
    }
    .post p{
        margin:10px;
    }
    .post .title{
        font-size: 1.2rem;
        font-weight: 550;
    }
    .post img{
        width:250px;
        height:250px;
        
    }
}