.container{
    display:flex;
    flex-direction: row;
    padding:30px;
    /* height: 100vh; */
    padding-top:60px;

}

.form{
    display: flex;
    flex-direction: column;
    width:50%;
}
.header .logo{
  width:100px;
  height:100px;
}
.img{

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self:center;
    width:50%;
    
}
.img img{
    width:400px;
    margin:30px;
    align-self: center;
}
.header{
  margin-bottom: 20px;
  font-size: 1rem;
  margin-left:15px;
}
.part{
  color: #02AAB0;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header p{
  font-size: 1.3rem;

}
.register-form {
    min-width: 150px;
    max-width: 500px;


    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
    /* height:70vh; */
  }
  
  .register-full-width {
    width: 100%;
    display: flex;
  
    margin-left:10px;
    color:var(--blue);
    font-size: 1rem;
  }
  .register-full-width  span{
    margin-left:10px;
  }
  .register-full-width  mat-form-field{
    width: 96%;
    margin-bottom: -2px;
  }
  .mdc-text-field .mdc-text-field__input {
    caret-color: var(--blue);
}



button mat-icon{
  padding-right: 5px;
  margin-right:5px;
  background-color: white;
}
 
  .submit{
   
    margin:10px 40%;
    width:150px;
    color:white;
    background: #02AAB0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding:10px;
    font-size: 1.1rem;
    border-radius: 8px;
  }
  button.subit:focus {
    border:none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; 
   }
  @keyframes circleGrow {
    0% {
      transform: scale(0);
      opacity: 0;
    } 
    20% {
      opacity: 1;
    }
    100% {
      transform: scale(5);
      opacity: 0;
    }
  }
  .signin{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .signin p{
    font-size: 1.3rem;

  }
  .signin p span{
    cursor: pointer;
    font-weight: 500;
    color:var(--blue)
  }
  /* //=========================  MAT INPUTS STYLE======================== */
  
mat-form-field input{
  margin-top:-8px;
  margin-bottom: -5px;
}
::ng-deep .mdc-notched-outline > * {
  border-color: var(--blue) !important;
  
}
::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
  border-color: #4c4c4c !important;
}
::ng-deep .mdc-text-field .mdc-notched-outline > * {
  border-color: #00CDAC !important;
}
::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: rgb(255, 0, 115) !important;
  margin-bottom: 2px;
}
/* //============= MEDIA  */
@media (max-width:992px){
  .container{
    display: block;
    padding:10px;
    padding-top:60px;

  }
  .img{
    display:none;
  }
  .form{
    width:100%;
    margin:auto
  }
  form{
   margin:20px auto;
   padding-top:30px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   background-color: white;
   margin-right: 5px;

  }
 .mat-mdc-text-field-wrapper{

  width:88% !important;
  height: 45px;
  margin-right:5px
 }
 .register-form{
  height:max-content;
  margin:auto
 }
 .register-full-width {
  width:96%
 }
 .header{
  margin-bottom: 10px;
  font-size: 1rem;
  margin-left:15px;
}
.signin{
  margin:10px auto;
}
}