<div class="home-template">
    <div class="row logos">

        <img class="lo" src="../../assets/Designs/ump.png"/>
        <img  class="lo" src="../../assets/Designs/mia.png"/>
    </div>
    <div class="about row block" id="about">
       
        <div class="col">
            
            <h1>Save time and get REAL<br/>results on social media.<br/><span class="dif">NeoInfluencer makes it easy.</span></h1>
             <p>Delight your customers, save time, and take control of the customer experience with the new NeoInfluencer Inbox. See all your comments and DMs in one place, easily collaborate with other departments, and set up automations to take work off your plate.</p>
             <button routerLink="/registration">Sign Up</button>
        </div>
        <div>
            <img src="../../assets/Designs/about.svg"/>
        </div>
    </div>
    <div class="features block" id="features">
        <div class="col">
            <h2>Why You Choose Us 🤔?</h2>
            <div class="feats row">
                <div class="col feat">
                    <img src="../../assets/Designs/channel.svg"/>
                    <h4>Track your social channels from one app</h4>
                    <p>Choose your social channels, and start analysing the comments in your posts, videos...</p>
                </div>
                <div class="col feat">
                    <img src="../../assets/Designs/dashb.svg"/>
                    <h4>Manage your reputation online</h4>
                    <p>Getting detailed graphs and statistics , that help you indentify the insights about your brand</p>
                </div>
                <div class="col feat">
                    <img src="../../assets/Designs/feed.svg"/>
                    <h4>Learn what people  love or hate</h4>
                    <p>Analysing comments ,and see the percentge of positive, negative and neutral ones, to build strong marketing strategy </p>
                </div>
            </div>
        </div>
       
    </div>
    <div class="how row block" id="how">
        <img class="side"src="../../assets/Designs/how.svg"/>
        <div class="col ">
            <h3>How Does It Works 🙄?</h3>
            <div class="col tips">
              <div class="row tip">
                <div class="cercle">
                    <img class="icon" src="../../assets/Designs/sign.png"/>
                </div>
                <div class="col ">
                    <h4>Sign Up Account</h4>
                    <p>Create an Account for your company </p>
                </div>
              </div>
              <div class="row tip">
                <div class="cercle">
                    <img class="icon" src="../../assets/Designs/social.png"/>
                </div>
                <div class="col ">
                    <h4>Choose A Channel </h4>
                    <p>if you want to anlyse posts then choose facebook, but make sure to create a developper account in facebook graph api then get your access token.
                        But, if you want to analyse a youtube video then go and bring its url
                    </p>
                </div>
              </div>
              <div class="row tip">
                <div class="cercle">
                    <img class="icon" src="../../assets/Designs/stat.png"/>
                </div>
                <div class="col ">
                    <h4>Start the analysing journey</h4>
                    <p>After filling in the need informations (video url or access token),we will give you detailed analysis of the available comments</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="customers col block" id="customers">
        <h3>Our Customers 🌟</h3>
        <div class="row" >
            <img *ngFor="let c of customers" [src]="c" class="customer"/>
        </div>
    </div>
    <div class="pricing col block" id="pricing">
        <h3>Simple Pricing For <span class="dif">everyone</span> </h3>
        <div class="row">
            <div class="price col" *ngFor="let pack of packes">
                <img [src]="pack.icon" class="price-im"/>
                <h4>{{pack.type}}</h4>
                <h2><span class="dif">{{pack.price}}</span> <span class="diffr">dhs</span></h2>
                <p *ngFor="let f of pack.features">◾ {{f}}</p>
            </div>
        </div>
    </div>
   
</div>
