/* .home-content{
    display: flex;
    flex-direction: column;

} */
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
p{
    font-size: 1.1rem;
    margin:10px 0px;
}
h2,h3{
    margin-bottom: 10px;
}
h2, h3,h4{
    text-align: center;
    font-weight: 600;
    color: black;
}
h4{
    font-weight: 550;
}
.dif{
    color:#00cdbc;
}
.block{
    margin-bottom: 80px;
}
/* //==== about =========== */
.about{
    /* margin-bottom:30px; */
}
.about .col {

    width: 60%;
}
.about .col p{

    margin:30px 0px;
}
.about .col button{

    width: 150px;
    background-color:var(--blue);
    padding:10px;
    font-size:1.2rem;
    color:white;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.about .col button:hover{

    width: 150px;
    padding:10px;
    font-size:1.2rem;
    border-radius:20px;
    color:white;

}
.about div img{
    width:500px;
}
.logos{
    display: flex;
    justify-content: space-between;
}
 .lo{
    width:120px;
}
/* //======== features  */
.features{
    /* margin-top:30px; */
    /* margin-bottom:20px; */
}
.feat.col{

    justify-content: center;
    width: 300px;

}
.feat img{

    width:250px;
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;

}
.feat h4{
}
.feat p{
    text-align: center;
}
/* //========== tips  */
.how .col{
    /* width:50%; */
}
.side{
    width:500px;
    justify-self: center;

}
.how .col h3{
    /* margin-bottom: 15px; */
    margin-top: 30px;
    text-align: left;
    margin-left:40px;


}
.col.tips{
    justify-content:center;
    /* width:70% */
    margin-left: 30px;
}
.col.tips .row h4{

    text-align: left;
}
.tip{
    align-items: center;
    margin-bottom: 20px;
}
.tip .cercle{
    width:60px;
    height:60px;
    padding:10px;
    border-radius: 50%;
    background-color: #4e4e4e;
    align-self: first baseline;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.icon{
    width:40px;
    height: 40px;
}
/* // ============= customers ========= */

.customers .row{
  
    margin:50px;
    flex-wrap: nowrap;
     position: relative;
     z-index: 1;
    
    overflow-x: auto; 
  
    
    
}
.customer .row::-webkit-scrollbar{
    width:0;
  }
.customers .row img{
    margin-right: 10px;
        position: relative;
        flex: 0 0 auto;

        width: 180px;
         height:100px;
        margin-right: 20px;

}
/* //=============== pricing  */
.pricing{
    width:60%;
    align-self: center;
    margin: 30px auto;
    margin-bottom:120px;
}
.price.col{
    background-color: white;
    width:70px;
    padding:20px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    align-items: center;
    margin:20px;
    border-radius: 20px;
    font-size: 1.2rem;
}
.price img{
    width:120px
}
.price h2{
    margin:10px 0px 20px 0px;
}
.price h4{
   margin: 20px;
    font-weight: 500;
}
.price h2:nth-of-type(even){
    color:#00cdbc
}
.diffr{
    font-size: 400;
}

@media (max-width:992px){
    h1{
        font-size:2rem
    }
    .col{
        margin-left:10px
    }
    .home-content{
        padding:20px;
    }
    .row{
        /* width:80%; */
        flex-wrap:wrap
    }
    .pricing{
        width:90%;
        /* align-self: center;
        margin: 30px auto; */
    }
    .price.col{
        /* background-color: white; */
        width:320px;
      
    }
    .about div img{
        width:300px;
        margin:10px 30px
    }
    .col.tips {
        /* justify-content: center; */
        margin-left: 10px;
    }
    .how .side{
        margin:10px 30%
    }
     .how .col{
       width: 100%;
    }
}