<div class="wrap">
  
  
  <div class="main_panel">
    <app-nav [profileImage]="profile"></app-nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
<div class="footer col">
  <!-- <div class="row">
      <img src="">
      <p>About</p>
      <p>Features</p>
      <p>How it Works?</p>
      <p>Pricing</p>

  </div>
  <p>©  2023 NeoInfluncer Inc. All Rights Reserved.<br/>

    Legal | CenterTrust | CenterPrivacyCookie | preferencesAccessibility
    </p> -->
    <footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
				<a href="#"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
				<a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
				<a href="#"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">Home</a>

					<a href="#about">About</a>

					<a href="#features">Features</a>

					<a href="#how">How It works?</a>

					<a href="#customers">Customers</a>

					<a href="#pricing">Pricing</a>
				</p>

				<p>©  2023 NeoInfluncer Inc. All Rights Reserved.</p>
			</div>

		</footer>
</div>
